body {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

footer {
  margin-top: 50%;
}

#pregame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#header {
  display: grid;
  grid-template-columns: 100px auto 100px;
}

#colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#evaluateButton,
#submitButton {
  margin-left: 1rem;
}

#dice {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

#diceBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#start {
  margin-top: 2rem;
}

#entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  height: 5rem;
}

#setTimer {
  display: flex;
}

#timeAmount {
  width: 3.1rem;
  margin-left: 1rem;
  text-align: center;
}

.die {
  border: 2pt solid black;
  display: grid;
  grid-template: 20px 20px 20px/ 20px 20px 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  font-size: 24pt;
}

#board {
  display: grid;
  grid-template: auto auto auto auto auto auto auto auto auto auto / auto auto auto auto auto auto auto auto auto auto;
  text-align: center;
  border: 3pt solid black;
  width: 700px;
  height: 700px;
  margin-top: 1rem;
}

.box {
  display: grid;
  border: 1pt solid black;
  font-size: 32pt;
  align-items: center;
}

.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#rollButton {
  width: 100%;
  font-size: 2.5rem;
  margin: 0 2rem;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
